.rp-yj{
    font-size:1.1rem;
    color:#7b7b7b;
    padding-left: 0.5rem;
    width:10rem;
    text-align: right;
    display: inline-block;
}

.rp-yj-je{
    font-size: 1.2rem;
    padding-right: 1rem;
    width: 10rem;
    display: inline-block;
}
.rp-yj-tbl-title{
    line-height: 3rem;
    font-size: 1.2rem;
    background: whitesmoke;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}
.rp-yj-btn-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 3rem;
}
.rp-yj-statustext{
    float: right;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 1.3rem;
}

.ap-view-report-link{
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 1rem;
}