# See https://help.github.com/ignore-files/ for more about ignoring files.

Applications/ApplicationCore/bin/
Applications/ApplicationCore/obj/
Applications/ApplicationGateway/bin/
Applications/ApplicationGateway/obj/
Applications/GatewayInterface/bin/
Applications/GatewayInterface/obj/
Applications/XYHBaseDataPlugin/bin/
Applications/XYHBaseDataPlugin/obj/
Applications/ExamineCenterInterfacePlugin/bin/
Applications/ExamineCenterInterfacePlugin/obj/
Applications/ExamineCenterPlugin/bin/
Applications/ExamineCenterPlugin/obj/
Applications/XYHHumanPlugin/bin/
Applications/XYHHumanPlugin/obj/
Applications/XYHShopsInterfacePlugin/bin/
Applications/XYHShopsInterfacePlugin/obj/
Applications/XYHShopsPlugin/bin/
Applications/XYHShopsPlugin/obj/

Applications/XYHCustomerInterfacePlugin/bin/
Applications/XYHCustomerInterfacePlugin/obj/

Applications/XYHCustomerPlugin/bin/
Applications/XYHCustomerPlugin/obj/

DesktopPortal/bin/

Authorization/AuthorizationCenter/obj/
Authorization/AuthorizationCenter/bin/
Authorization/AuthorizationTest/obj/
Authorization/AuthorizationTest/bin/

# dependencies
*/node_modules/

# testing
/coverage

# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
