.searchCondition {
    padding: 5px 0;
    min-height: 50px;
    font-size: 12px;

    .ant-tag {
        color: red;
    }

    .ant-checkbox-group {
        display: inline-block;
        vertical-align: middle;

        .ant-checkbox-wrapper {
            width: 100px;
            margin-left: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .importantInfo {
        color: red;
    }

    .normalInfo {
        border-bottom: 1px dashed #999;
        margin: 10px;
        padding: 0px 12px 10px 0;

        .levelBtnActive {
            margin-bottom: 10px;
            margin-right: 10px;
            border: 0;
        }

        .levelBtnDefault {
            margin-bottom: 10px;
            margin-right: 10px;
            border:0;
            //background-color: #64bce3;
            opacity: 0.5;
        }

        .ant-select {
            margin-right: 10px;
            width: 100px;
        }
        label{
            margin:0 10px;
            font-size: 12px;
        }
        .ant-calendar-picker{
            width:130px;
        }
        .ant-radio-button-wrapper{
            margin:0
        }
    }
}
